
<a routerLink="/" >
<abcfoundry-button
  btText="this is a button"
  btStyle="primary"
  iconAlign="right"
></abcfoundry-button>
</a>
<abcfoundry-button-fab
  btStyle="primary"
  btIcon="mic"
  iconAlign="left"
></abcfoundry-button-fab>
<abcfoundry-button-fab-mini
  btStyle="accent"
  btIcon="sentiment_very_satisfied"
  iconAlign="right"
></abcfoundry-button-fab-mini>
<abcfoundry-button-flat
  btText="this is a flat"
  btStyle="warn"
  btIcon="mic"
  iconAlign="left"
></abcfoundry-button-flat>
<abcfoundry-button-icon
  btText="this is a Warn"
  btStyle="primary"
  btIcon="mic"
  iconAlign="left"
></abcfoundry-button-icon>
<abcfoundry-button-raised
  btText="this is a raised"
  btStyle="primary"
  btIcon="mic"
  iconAlign="left"
></abcfoundry-button-raised>
<abcfoundry-button-stoked
  btText="this is a stoked"
  btStyle="primary"
  btIcon="mic"
  iconAlign="left"
></abcfoundry-button-stoked>
<abcfoundry-button-stoked
  btText="this is a stoked"
  btStyle="primary"
  isDisabled="true"
  btIcon="mic"
  iconAlign="left"
></abcfoundry-button-stoked>
