<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<h1>Material Forms</h1>
<h3>Standard </h3>
<div>
  <abcfoundry-input-text
  appearance="standard"
  hint="This is standard field hint"
  label="This Label Name 1"
  placeHolder="standard"></abcfoundry-input-text>
</div>


<h3>Outline</h3>
<div> <abcfoundry-input-text
  appearance="outline"
  hint="This is outline field hint"
  label="This Label Name 2"
  icon="sentiment_very_satisfied"
  iconAlign="right"
  placeHolder="This is dynamic placeholder"></abcfoundry-input-text>
</div>
<h3>Fill</h3>
<div> <abcfoundry-input-text
  appearance="fill"
  hint="This is outline field hint"
  label="This Label Name 3"
  icon="sentiment_very_satisfied"
  iconAlign="right"
  placeHolder="This is dynamic placeholder"></abcfoundry-input-text>
</div>
<div> <abcfoundry-input-password
  appearance="outline"
  hint="This is outline password hint"
  label="This Label Name 4"
  icon="sentiment_very_satisfied"
  iconAlign="left"
  placeHolder="This is a password"></abcfoundry-input-password>
</div>
<div> <abcfoundry-input-textarea
  appearance="outline"
  hint="This is outline textarea hint"
  label="This Label Name 4"
  icon="sentiment_very_satisfied"
  iconAlign="left"
  placeHolder="This is a textarea"></abcfoundry-input-textarea>
</div>
<hr>
<abcfoundry-button
  btText="this is a button"
  btStyle="primary"
  iconAlign="right"
></abcfoundry-button>
<abcfoundry-button-fab
  btStyle="primary"
  btIcon="mic"
  iconAlign="left"
></abcfoundry-button-fab>
<abcfoundry-button-fab-mini
  btStyle="accent"
  btIcon="sentiment_very_satisfied"
  iconAlign="right"
></abcfoundry-button-fab-mini>
<abcfoundry-button-flat
  btText="this is a flat"
  btStyle="warn"
  btIcon="mic"
  iconAlign="left"
></abcfoundry-button-flat>
<abcfoundry-button-icon
  btText="this is a Warn"
  btStyle="primary"
  btIcon="mic"
  iconAlign="left"
></abcfoundry-button-icon>
<abcfoundry-button-raised
  btText="this is a raised"
  btStyle="primary"
  btIcon="mic"
  iconAlign="left"
></abcfoundry-button-raised>
<abcfoundry-button-stoked
  btText="this is a stoked"
  btStyle="primary"
  btIcon="mic"
  iconAlign="left"
></abcfoundry-button-stoked>
<abcfoundry-button-stoked
  btText="this is a stoked"
  btStyle="primary"
  isDisabled="true"
  btIcon="mic"
  iconAlign="left"
></abcfoundry-button-stoked>

<hr>
<div>
  <h1>Material Structure</h1>
  <abcfoundry-ngx-abcfoundry-core-structure-material></abcfoundry-ngx-abcfoundry-core-structure-material>
</div>

<router-outlet></router-outlet>
