/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;

}
.app-toolbar {
  flex: 1 0 10%;
  background:red;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

header {
  flex: 1 0 10%;
  background:red;
  position: sticky;
  position: -webkit-sticky;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.content {
  flex: auto;
  overflow-y: auto;
}

article {
  background:green;
}
footer {
  height: 40px;
  background:blue;

}



.main-container {

  flex: 1;
}

header-container {


}
.abcfoundry-input-text {

}

.abcfoundry-main-template {
  height: 100%;
  background-color: cadetblue;
}


mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}
.site-container {
  display: inline-block;
  width:100%;
}
